<!DOCTYPE html>
<html>
	<head lang="zh-cn">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=0.8,minimum-scale=0.8,maximum-scale=0.8,minimal-ui">
		<title id="title">Scholarship</title>
				
				<script src="http://code.jquery.com/jquery.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
		<link id="stylesheet" rel="stylesheet" href="../../assets/stylesheets/style.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
		
		
	
	</head>
	
	
	<body id="list-page">
		
			
			
			<div id="body-box" >	
				
				<div class = "row containers">
				<div class = "col-md-3">
					<form class="filter-box" action="">
						<input class = "search-keywords" type="text" value="Search keywords"></input>
					<br>
					
					<div class="btn-group search-by-category">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Categories <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					<li><a href="#">Category1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					
  					</ul>
					</div>		
					
					<div class="btn-group search-by-amount">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Amount<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					<li><a href="#">less than 1000</a></li>
					<li><a href="#">$1000~$2000</a></li>
					<li><a href="#">3</a></li>
					
  					</ul>
					</div>		
				</div>
			
				<div id = "scholarship-list col-md-9">
					
					<p id="number-of-scholarships"> 1111 Scholarships </p>
					
					<table id="scholarship-table">
							  <tr class="table-header">
							    <th>Scholarship Name</th>
							    <th>Category</th>
							    <th>Average Amount</th>		
							    <th>Deadline</th>
							    <th>Website</th>
							  </tr>
							  
							  <tr class="scholarship-table-items">
							    <td><a href="">Name</a>
							    <br>
							    <img src="" width="100" height="100"/></td>
							    <td>Category</td>
							    <td>$9999</td>		
							    <td>MM-DD-YYYY</td>
							    <td><a href="">link</a></td>
							    
							  </tr>
							 
							</table>
					<table class = "page-index">
					<tr>
						<td><a>1</a></td>
						<td><a>2</a></td>
						
					</tr>
					</table>
				
					
				</div>
				
				</div>
				
				
			</div>
			
			<div id="footer">
			</div>
		
		
	</body>