
 <div class="transbox">
     <h1> WeDream </h1>
    <p>Helping women achieve their dreams.</p>

<img src="http://studentservices.okstate.edu/sites/default/files/weatpromopic.png" width="100%" height="100%" />

     <!-- SEARCH BOX -->
    <div id="tfheader">
        <form id="tfnewsearch" method="get" action="http://www.google.com">
                <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
        </form>
    <div class="tfclear"></div>
    </div>
  </div>