html{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
}

#header{
	height: 50px;
	width: 100%;
	background: #8c1515;
	color:white;
	vertical-align: bottom;
	margin-top:0;
	margin-bottom: 0;
	
	
}
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

#header li {
    float: left;
    list-style: none;
}

#header li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
	color:black;
    background-color: ;
}

#header .active{
	color:black;

}
body{
	background-color: #efefef;
	color: black;
	font-family: sans-serif;
	font-size: 14px;
}

p{
	
}

h1{
	font-size: 18px;
	
}
h2{
	font-size: 12px;


}
h4{
	font-weight: 200;
	color: #606060;
	line-height: 0px;
}
#body-box{
	width:95%;
	height: 100%;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	position: relative;
	
	
}



.filter-box{
	
	height:200px;
	width: 180px;
	background: #eeeeee;
	border: #d9d9d9;
	border-style: solid;
	border-width: 1px;
	
	margin:20px;
	text-align: center;
}

.filter-box input{
	margin-top:10px;
	margin-left: 10px;
	
}

.search-box{
	
	border-style: none;
	
}

.search-action{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background: #1bcdc2;
	border-style: none;
	color:white;
}

#scholarship-list{
	

	
}

#scholarship-table, #scholarship-table tr{
	

	border: black;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #e3e3e3;
	border-width: 1px;
	border-collapse: collapse;
	}
	

#scholarship-table th{
	font-weight: 600;
	text-align:center;
	width:150px;
	padding:10px;
}

	
#scholarship-table td{
	
	text-align:center;
	border: 20px;
	width:150px;
	padding-top:20px;
	padding-bottom:20px;
}

.page-index{
	
	text-align:center;
	margin-top:30px;
	
	
}

.page-index td{
	width:20px;
	height: 20px;
	margin: 20px;
	background: #ebebeb;
	border: white;
	border-style: solid;
	
	}


h1 {text-align:center;}
p {text-align:center;}

div.background {
    background: url('background_college.jpg') no-repeat center center fixed;

    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
        -webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
        -moz-background-size: cover; /* optional for Firefox 3.6 */ 
        -o-background-size: cover; /* for Opera 9.5 */
        margin: 0; /* to remove the default white margin of body */
        padding: 0; /* to remove the default white margin of body */
        overflow: hidden;
}

div.transbox {
    margin: 350px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

div.transbox p {
    margin: 5%;
    font-size: 25px;
    font-family: 'Helvetica', serif;
    color: gray;
}

/*WELCOME PAGE */
    #tfheader{
        background-color:#808080;

    }
    #tfnewsearch{
        float:center;
        padding:60px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 300;
    }
    .tftextinput{
        margin: 0;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:14px;
        border:1px solid #000000; border-right:0px;
        border-top-left-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }
    .tfbutton {
        margin: 0;
        padding: 5px 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size:14px;
        outline: none;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        border: solid 1px #8C001A; border-right:0px;
        background: #8C001A;
        background: -moz-linear-gradient(top,  #00adee,  #0078a5);
        border-top-right-radius: 5px 5px;
        border-bottom-right-radius: 5px 5px;
    }
    .tfbutton:hover {
        text-decoration: none;
        background: #8C001A;
    }
    /* Fixes submit button height problem in Firefox */
    .tfbutton::-moz-focus-inner {
      border: 0;
    }
    .tfclear{
        clear:both;
    }
    h6  {
  font-weight: bold;

}

.profileHeader{
    background: center no-repeat;
    background-size: 100% auto ;
    height: 200px; /* 200 tall  */
    padding-top: 75px; /* 200 remaining minus 75 padding-top equals 125 */
    padding-bottom: 15px; /* 125 remaining minus 15 padding-bottom equals 110 */
}

.schoolLogo {
    margin-left: 30px;
    float:left;
}

.schoolLogo img {
  max-height: 30px;
}

.schoolInfo {
  /*overflow:hidden;*/
  padding-top:10px; /*110 remaining minus 10 padding equals 100 */
  float:left;
  padding-left:20px;
}

.schoolInfo p {
  margin-bottom: 5px;
}

#addToFav {
  background-color: red; */
  color: white;
  padding: 2px 10px;
}

.scholarshipSection {
  margin-left: 16px; /* should match below */
  margin-right: 16px; /* should match second margin number in .box-frame */
}

.box-frame {
  margin: 36px 16px; /* second number should match both margin settings in scholarshipSection */
  border: 1px solid darkgray;
  padding: 12px;
}

.schoolName {
  font-size: 30px;
  color: white;
}

.schoolLocation {
  font-size: 10px;
  color: white;

}

.sectionHeading {
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 18px;
}

.subHeading {
  font-weight: bold;
}

.showhide, a{
  color: red;
}

.showhide:hover, a:hover{
  color: green;
  text-decoration: underline;
}

.programType {
  font-weight: bold;
}

.programDetail {

}

.commentStudentName {
  font-weight: bold;
}

.commentStudentText {

}

